@import '../../global/style.scss';

:host {

  .loader {
    display: grid;
    grid-template-columns: repeat(3, var(--stellar-loader-pixelSize, 4px));
    grid-template-rows: repeat(3, var(--stellar-loader-pixelSize, 4px));
    grid-gap: var(--stellar-loader-pixelGap, 1px);

    div {

      &.on {
        background-color: var(--stellar-loader-pixelColor, white);
      }
    }
  }
}