// Import global CSS from Stellar Design System
@import "@stellar/design-system/build/styles.min.css";

#root {
  --layout-window-width-min: 800px;
  --layout-window-width-max: 1296px;

  .Layout__inset {
    --Layout-inset-padding-horizontal: 1rem;
  }

  .Layout__header {
    --Layout-header-padding-vertical: 1rem;
  }

  .Layout__footer {
    --Layout-footer-padding-bottom: 1rem;
    --Layout-footer-margin-top: 2rem;
  }

  .Modal {
    width: 50%;
    min-width: calc(var(--layout-window-width-min) / 2);
    min-height: 50vh;
    position: absolute;
  }

  code {
    word-break: break-all;
  }
}

.Layout__inline {
  display: flex;
  align-items: center;
  position: relative;

  & > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.Wrapper {
  min-width: var(--layout-window-width-min);
  display: flex;
  flex-grow: 1;
  position: relative;
}

.SplitContainer {
  width: 50%;
  position: relative;

  &.Main {
    display: flex;
    flex-direction: column;
    background-color: var(--pal-background-primary);
  }

  .Main__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

// Logs
.Logs {
  background-color: var(--pal-example-details);
  overflow: auto;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    flex-grow: 1;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }

  &__footer {
    background-color: var(--pal-background-primary);
    border: 1px solid var(--pal-border-primary);
    border-bottom: none;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    a:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    color: var(--pal-text-secondary);
  }

  .LogItem {
    margin-bottom: 1rem;
  }
}

.Landing {
  &__container {
    margin-top: 3rem;
  }

  &__buttons {
    a {
      margin-bottom: 1rem;
    }
  }
}

.LoadingBlock {
  margin-bottom: 1rem;
}

.InfoButtonWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Section {
  margin-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }
}

// Generic
.vertical-spacing {
  & > * {
    margin-bottom: 1rem;
  }
}

.horizontal-spacing {
  & > *:not(:first-child),
  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}

// Account
.Account {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 3rem;

  .AccountInfo {
    display: table;
    max-width: 276px;

    &:first-child {
      margin-bottom: 1rem;
      margin-right: 2rem;
    }

    .AccountInfoRow {
      display: table-row;
      height: 2rem;
    }

    .AccountInfoCell {
      display: table-cell;
      vertical-align: middle;

      &.AccountLabel {
        text-transform: uppercase;
      }

      &.CopyButton {
        width: 3.75rem;
      }

      &:not(:last-child) {
        padding-right: 1rem;
      }
    }
  }

  @media (min-width: 1020px) {
    flex-direction: row;

    .AccountInfo {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

.AccountDetails {
  .AccountDetailsContent {
    padding: 1rem;
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-monospace);
    font-size: 0.875rem;
    line-height: 1.375rem;
    word-break: break-word;
  }
}

.Balances {
  border-top: 1px solid var(--pal-border-primary);

  .BalanceRow {
    border-bottom: 1px solid var(--pal-border-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--pal-text-primary);

    &.disabled {
      background-color: var(--pal-background-secondary);
      cursor: not-allowed;

      .BalanceCell.BalanceInfo {
        opacity: 0.6;
      }

      a {
        pointer-events: none;
      }
    }

    &.active {
      background-color: rgba(var(--pal-brand-primary-rgb), 0.2);
    }

    .RegulatedInfo {
      display: flex;
      align-items: center;
      position: relative;

      .InfoButtonTooltip {
        right: 50%;
        transform: translateX(50%);
        text-align: left;
      }
    }
  }

  .BalanceCell {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & > :not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &.BalanceInfo {
      .BalanceAmount {
        font-size: 1.1em;
        font-weight: var(--font-weight-medium);

        &.error {
          font-weight: var(--font-weight-normal);
        }
      }

      .BalanceOptions {
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        position: relative;

        & > *:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    &.RegulatedAsset {
      display: flex;
    }

    &.BalanceActions {
      .CustomCell {
        display: flex;
        align-items: center;
      }
    }
  }

  @media (min-width: 1260px) {
    .BalanceRow {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .BalanceCell {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      & > :not(:last-child) {
        margin-bottom: 0;
      }

      &.BalanceActions {
        display: flex;

        .BalanceCellSelect {
          width: 14rem;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .CustomCell {
          &:not(:last-child) {
            margin-right: 1rem;
          }

          justify-content: flex-end;
        }
      }
    }
  }
}

.ClaimableBalances {
  margin-top: 3rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  .CustomCell {
    min-height: 2.75rem;
  }
}

.BalancesButtons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;

  *:not(:first-child) {
    margin-left: 1em;
  }
}

.PresetAssets {
  border-top: 1px solid var(--pal-border-primary);

  .PresetAssetRow {
    border-bottom: 1px solid var(--pal-border-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;

    &__content {
      flex: 1;
    }

    .PresetAssetCode {
      font-size: 1.1em;
      font-weight: var(--font-weight-medium);
    }

    .PresetAssetIssuer {
      margin-top: 0.3rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.SessionParamsWrapper {
  display: flex;
  margin-top: -0.5rem;
}

// Configuration
.ConfigurationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Old styles

.Content {
  flex-grow: 1;
  flex-shrink: 0;
}

.Block {
  & > * {
    margin-bottom: 1rem;
  }
}

.SendForm {
  max-width: 600px;
  margin-bottom: 1rem;
}

.SendFormButtons {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;
  }
}

.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .Eyebrow {
    color: var(--pal-brand-primary);
  }

  h1 {
    text-align: center;
  }
}
