@import '../../global/style.scss';

:host {
  display: block;
  font-family: $font-family;
  font-size: 15px;
  position: relative;

  button {
    position: relative;
    appearance: none;
    border: 0;
    font-size: 12px;
    height: 20px;
    color: black;
    border-bottom: 1px solid blue;
    background: none;

    &:hover {
      background: rgba(0, 0, 255, 0.3);
    }
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .account-key {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .small {
      margin: 0 0 0 10px;
      flex-shrink: 0;
    }
  }
  .account-state,
  .error {
    box-sizing: border-box;
    overflow: scroll;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    font-family: $font-mono;
    margin-bottom: 10px;
    width: 100%;
  }
  .account-state {
    background-color: whitesmoke;
  }

  .asset-row {
    .balance-row {
      & > div {
        margin-right: 8px;
      }
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    margin-bottom: 16px;
  }

  .error {
    background-color: orangered;
    color: white;
  }
  .popup-scrim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .popup {
    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
    background: white;
    width: 400px;

    padding: 8px;
    border: 1px solid black;

    .button-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button {
        margin: 4px;
      }
    }
  }

  #account-details-container {
    margin-top: 16px;
    display: block;
    overflow: scroll;
  }

  stellar-loader {
    display: inline-block;
    vertical-align: middle;
  }

  .balance-headers {
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
