@import '../../global/style.scss';

:host {
  display: block;
  font-family: $font-family;
  font-size: 15px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  button {
    margin-bottom: 10px;
  }

  .account-key {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .small {
      margin: 0 0 0 10px;
      flex-shrink: 0;
    }
  }
  .account-state,
  .error {
    overflow: scroll;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    font-family: $font-mono;
    margin-bottom: 10px;
    width: 100%;
  }
  .account-state {
    background-color: whitesmoke;
  }
  .error {
    background-color: orangered;
    color: white;
  }

  stellar-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}