$message-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNCA5LjY2NjY3QzE0IDEwLjQ2NDQgMTMuMzUzMyAxMS4xMTExIDEyLjU1NTYgMTEuMTExMUgzLjg4ODg5TDEgMTRWMi40NDQ0NEMxIDEuNjQ2NyAxLjY0NjcgMSAyLjQ0NDQ0IDFIMTIuNTU1NkMxMy4zNTMzIDEgMTQgMS42NDY3IDE0IDIuNDQ0NDRWOS42NjY2N1oiIHN0cm9rZT0iIzAwQUE0NiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNCA0LjVIMTAuNzMyMSIgc3Ryb2tlPSIjMDBBQTQ2IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik00IDcuNUgxMC43MzIxIiBzdHJva2U9IiMwMEFBNDYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
$arrow-left: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExIDUuOTk5OTdIMSIgc3Ryb2tlPSIjODREMTI4IiBzdHJva2Utd2lkdGg9IjEuNDI4NTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNiAxTDEgNkw2IDExIiBzdHJva2U9IiM4NEQxMjgiIHN0cm9rZS13aWR0aD0iMS40Mjg1NyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
$arrow-right: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS45OTk5N0gxMSIgc3Ryb2tlPSIjRkY4OTAwIiBzdHJva2Utd2lkdGg9IjEuNDI4NTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNiAxTDExIDZMNiAxMSIgc3Ryb2tlPSIjRkY4OTAwIiBzdHJva2Utd2lkdGg9IjEuNDI4NTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
$error-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTUgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0ibWVzc2FnZS1pY29uLWNvcHktMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSIgc3Ryb2tlPSIjRDAwMjFCIiBzdHJva2Utd2lkdGg9IjEuNSI+CiAgICAgICAgICAgIDxnIGlkPSJ4LW9jdGFnb24iPgogICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMy44MDkgMCA5LjE5MSAwIDEzIDMuODA5IDEzIDkuMTkxIDkuMTkxIDEzIDMuODA5IDEzIDAgOS4xOTEgMCAzLjgwOSI+PC9wb2x5Z29uPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTguNDUsNC41NSBMNC41NSw4LjQ1IiBpZD0iUGF0aCI+PC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTQuNTUsNC41NSBMOC40NSw4LjQ1IiBpZD0iUGF0aCI+PC9wYXRoPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);

.logview {
  padding: 8px;
  background: #eee;
}

.entry {
  margin-top: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.entry {
  .title {
    background-color: #ddd;
    padding: 8px;
  }

  .body {
    padding: 8px;
    background: #fff;
  }
}

.instruction,
.error {
  padding: 8px;
  padding-left: 32px;
}

.instruction {
  background: white $message-icon no-repeat 8px center;
}

.error {
  background: white $error-icon no-repeat 8px center;
}

.request,
.response {
  margin-left: 16px;
  color: white;

  .title {
    background-color: #474e62;
    padding-left: 32px;
    background-position: 8px center;
    background-repeat: no-repeat;
  }

  .body {
    background-color: #4d556d;
    white-space: pre;
  }
}

.request .title {
  background-image: $arrow-right;
}

.response .title {
  background-image: $arrow-left;
}
