.LogItem {
  max-width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  opacity: 0;
  transition: all 300ms;

  &.open {
    opacity: 1;
  }

  .LogItemHeader {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }

  .LogItemIcon {
    width: 1rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
    flex-grow: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .LogItemTitle {
    font-size: 1rem;
    line-height: 1.25rem;
    word-break: break-word;
  }

  .LogItemBody {
    padding: 1rem;
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-monospace);
    font-size: 0.875rem;
    line-height: 1.375rem;
    word-break: break-word;
  }

  // Light box
  &.instruction,
  &.error {
    width: fit-content;
    background-color: var(--color-background-main);
    border: 1px solid var(--color-border-input);
    box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.08);
    color: var(--color-text);

    .LogItemBody {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      color: var(--color-text);
    }
  }

  // Dark box
  &.request,
  &.response {
    width: 100%;
    background-color: var(--color-background-contrast);
    color: var(--color-text-contrast);

    .LogItemTitle {
      font-weight: var(--font-weight-medium);
    }

    .LogItemBody {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      // TODO: add color to SDS
      color: #fbfaf7;
    }
  }

  // Instruction
  &.instruction {
    .LogItemIcon svg {
      // TODO: add color to SDS
      fill: #20bf6b;
    }
  }

  // Error
  &.error {
    .LogItemIcon svg {
      // TODO: add color to SDS
      fill: #eb3b5a;
    }
  }

  // Request
  &.request {
    .LogItemIcon svg {
      // TODO: add color to SDS
      fill: #ffdd96;
    }
  }

  // Response
  &.response {
    .LogItemIcon svg {
      // TODO: add color to SDS
      fill: #abcc7d;
    }
  }
}
