.Tooltip {
  position: absolute;
  background-color: var(--pal-background-primary);
  max-width: 16.875rem;
  border-radius: 0.125rem;
  border: 1px solid rgba(var(--pal-brand-primary-rgb), 0.4);
  z-index: var(--z-index-tooltip);
  cursor: default;

  &__content {
    padding: 0.5rem 1rem;
    background-color: rgba(var(--pal-brand-primary-rgb), 0.16);
    color: var(--pal-text-secondary);
    font-size: var(--font-size-secondary);
    line-height: 1.5em;

    a {
      color: inherit;
      white-space: nowrap;
    }
  }
}
