:root {
  --size-min-window: 800px;
  --size-max-window: 1296px;
}

body {
  overflow-y: hidden;
}

@mixin header-footer-inset {
  height: 3rem;
  display: flex;
  align-items: center;
}

@mixin header-footer-vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Wrapper {
  min-width: var(--size-min-window);
  display: flex;
  flex-grow: 1;
}

.SplitContainer {
  width: 50%;
  position: relative;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.Main {
  background-color: var(--color-background-main);
}

.Inset {
  position: relative;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: var(--size-max-window);
}

.Header {
  @include header-footer-vertical-padding;

  .Inset {
    @include header-footer-inset;
    justify-content: space-between;
  }
}

.Footer {
  @include header-footer-vertical-padding;

  .Inset {
    @include header-footer-inset;

    a:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.IntroText {
  margin-bottom: 3rem;
}

.LandingButtons {
  button {
    text-align: left;
  }
}

.Inline {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;
  }
}

// Old styles

.Content {
  flex-grow: 1;
  flex-shrink: 0;
}

.Block {
  & > * {
    margin-bottom: 1rem;
  }
}

.SendForm {
  max-width: 600px;
  margin-bottom: 1rem;
}

.SendFormButtons {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;
  }
}

.Error {
  color: var(--color-error);
}

// Logs
.Logs {
  background-color: var(--color-background-off);
  overflow: auto;

  .LogsContent {
    margin-top: 2rem;
  }

  .LogItem {
    margin-bottom: 0.5rem;
  }
}
