.TextLink {
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &[data-variant="secondary"] {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}
